/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

@media (min-width: 1024px) {
    html { 
        scroll-behavior: smooth; 
        font-size: 16px;
    }
}

/* Skal lige tænke over farverne - men her er strukturen*/ 
:root {
  --farve1: #FEF5EF;
  --farve2: #E1D3C2;
  --farve3: #F0E4D9;
  --font-farve: #514237;

  --logo-font: 'Koulen', sans-serif;
  --overskrift-font: 'Krona One', sans-serif;
  --brødtekst-font: 'Inria Sans', sans-serif;
}

/*Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(#ffffff 40%,transparent 80%);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 6px;
    line-height: 1.1;
    align-items: flex-start;
}

#logo1 {
    font-family: var(--logo-font);
    font-size: 40px;
    font-weight: 200;
    color: var(--font-farve);
    letter-spacing: 4px;
}

#logo2 {
    font-family: var(--brødtekst-font);
    font-size: 24px;
    color: var(--font-farve);
    letter-spacing: 13px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    font-family: var(--brødtekst-font);
    font-size: 14px;
    text-decoration: none;
    color: var(--font-farve);
    transition: 0.3s ease;
}
.nav-links a:hover { color: #a08977; }

.cart {
    width: 24px;
    height: auto;
    transition: 0.3s ease;
}
.cart:hover { transform: scale(1.1); }

/* Hero Section */

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    min-height: calc(100vh - 90px);
    box-sizing: border-box;
}

#heroImg {
    display: cover;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* Produkt sektion */
#specs { 
    background: #ffffff;     
    height: 100vh;             
    margin: 0;
}

#specs {
    padding: 60px 20px;
}

.specs-row {
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: stretch;
    margin: 100;
}

.specs-box {
    background: #e9e9e9;
    border-radius: 131px;
    padding: 28px;
    box-sizing: border-box;
    flex: 600px;
    max-width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#produkt { 
    background: #ffffff;     
    height: 100vh;             
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
}

.hr {
    width:30%
}

#app { 
    background: #ffffff;     
    height: 100vh;             
    margin: 0;
}

footer {
    background-color: #48559c;
    padding: 40px 60px;
    min-height: 30vh;
    color: rgb(255, 255, 255);
    font-family: var(--brødtekst-font);
}
footer table { width: 100%; 
  border-collapse: collapse; 
}
footer .col { 
    vertical-align: top;
    padding-right: 40px; }
footer h2.logo {
    font-size: 24px; 
    letter-spacing: 2px; 
    margin-bottom: 15px; 
  }
footer h3 { 
    font-size: 14px; 
    margin-bottom: 10px; 
    letter-spacing: 1px; }
footer p { 
    font-size: 13px; 
    line-height: 1.8; 
}
footer a { 
    color: black; 
    text-decoration: none; 
}
footer a:hover { 
    text-decoration: underline;
 }
.mail { color: rgb(223, 145, 57); }