/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");

@media (min-width: 1024px) {
    html { 
        scroll-behavior: smooth; 
        font-size: 16px;
    }
}

/* Skal lige tænke over farverne - men her er strukturen*/ 
:root {
  --farve1: #FEF5EF;
  --farve2: #E1D3C2;
  --farve3: #F0E4D9;
  --font-farve: #514237;

  --logo-font: 'Koulen', sans-serif;
  --overskrift-font: 'Krona One', sans-serif;
  --brødtekst-font: 'Inria Sans', sans-serif;
}

/*Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(#ffffff, transparent);
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 0.5px;
    line-height: 0.8;
    align-items: flex-start;
}

#logo1 {
    font-family: var(--logo-font);
    font-size: 40px;
    font-weight: 200;
    color: var(--font-farve);
    letter-spacing: 4px;
}

#logo2 {
    font-family: var(--brødtekst-font);
    font-size: 24px;
    color: var(--font-farve);
    letter-spacing: 13px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    font-family: var(--brødtekst-font);
    font-size: 14px;
    text-decoration: none;
    color: var(--font-farve);
    transition: 0.3s ease;
}
.nav-links a:hover { color: #a08977; }

.cart {
    width: 24px;
    height: auto;
    transition: 0.3s ease;
}
.cart:hover { transform: scale(1.1); }


#hero {
    background-image: url('../img/hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

#heroTekst {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: var(--overskrift-font);
    font-size: 50px;
    font-weight: 100;
    color: white;
    letter-spacing: 4px;
    align-items: center;
    margin-right: -400px;
}

#heroKnap {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    font-family: var(--brødtekst-font);
    font-size: 16px;
    margin-right: -400px;
}

#specs {
    background: #ffffff;     
    margin: 0;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.specs-row {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
}

.specs-box {
    background: #412d2d;
    color: rgb(255, 255, 255);
    font-family: var(--brødtekst-font);
    border-radius: 131px;
    padding: 50px;
    width: 400px;
    height: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
    padding-left: 40px;
}

#specs1 {
    background-image: url('../img/specs1.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 110%;
}

#specs2 {
    background-image: url('../img/specs2.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
}

#specs3 {
    background-image: url('../img/specs3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

/* Jeg vil gerne tilføje 4 toggle knapper der skal ændre billedet på produktet */

#produkt { 
    background: #ffffff;     
    height: 100vh;             
    margin: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 80px; 
}

#produktImg {
    max-width: 130%;
    display: block;
    height: auto;
    margin-left: -30px;
}

#titel {
    font-family: var(--overskrift-font);
    font-size: 75px;
    font-weight: 100;
    color: var(--font-farve);
    letter-spacing: 4px;
    margin-bottom: 20px;
}

#reviewStjerner {
    max-width: 160px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.brødtekst {
    font-family: var(--brødtekst-font);
    font-size: 16px;
    color: var(--font-farve);
    line-height: 1.1;
}

.hr {
    width:70%;
    margin: 30px;
    margin-left: -2px;
}

.farveKnapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.farveBtn1, .farveBtn2, .farveBtn3, .farveBtn4 {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 10px;
}

.farveBtn1 {
    background-color: rgb(247, 223, 186);
    border: 2px solid rgb(129, 114, 90);
}
.farveBtn2 {
    background-color: rgb(33, 33, 117);
    border: 2px solid rgb(38, 61, 190);
}
.farveBtn3 {
    background-color: white;
    border: 2px solid rgb(150, 150, 150);
}
.farveBtn4 {
    background-color: black;
    border: 2px solid rgb(50, 50, 50);
}

#farveTekst {
    font-family: var(--brødtekst-font);
    font-size: 24px;
    color: var(--font-farve);
    margin-left: 10px;
    margin-top: 10px;
}

#beløb {
    font-family: var(--brødtekst-font);
    font-size: 30px;
    font-weight: 600;
    color: var(--font-farve);
    margin-bottom: 20px;
}

.købsKnapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: -7px;
}

#kurven {
    background-color: #412d2d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    font-family: var(--brødtekst-font);
    font-size: 16px;
    margin-right: 10px;
}

#hjerte {
    font-size: 40px;
    background: none;
    border: none;
    color: #202020;
}

#app { 
    background-image: url(../img/app.png);
    background-position: cover;  
    height: 100vh;             
    margin: 0;
}

#reviews { 
    background: #ffffff;     
    height: 100vh;             
}

footer {
    background-color: #222222;
    padding: 40px 60px;
    min-height: 30vh;
    color: rgb(255, 255, 255);
    font-family: var(--brødtekst-font);
}
footer table { width: 100%; 
  border-collapse: collapse; 
}
footer .col { 
    vertical-align: top;
    padding-right: 40px; }
footer h2.logo {
    font-size: 24px; 
    letter-spacing: 2px; 
    margin-bottom: 15px; 
  }
footer h3 { 
    font-size: 14px; 
    margin-bottom: 10px; 
    letter-spacing: 1px; }
footer p { 
    font-size: 13px; 
    line-height: 1.8; 
}
footer a { 
    color: black; 
    text-decoration: none; 
}
footer a:hover { 
    text-decoration: underline;
 }
.mail { color: rgb(104, 114, 207); }